#Question-1
##### 1a.  Calculate the number of words that start with a vowel (a, e, i, o, and u). Print out a list of these words, along with their frequency (number of times they appear in the text). The list should be in decreasing order of frequency.

In [101]:
import warnings
warnings.filterwarnings('ignore')
text = '''Harry lay in his dark cupboard much later, wishing he had a watch. He didn't know 
what time it was and he couldn't be sure the Dursleys were asleep yet. Until they were, he 
couldn't risk sneaking to the kitchen for some food. He'd lived with the Dursleys almost ten 
years, ten miserable years, as long as he could remember, ever since he'd been a baby and his 
parents had died in that car crash. He couldn't remember being in the car when his parents 
had died. Sometimes, when he strained his memory during long hours in his cupboard, he came 
up with a strange vision: a blinding flash of green light and a burning pain on his forehead. 
This, he supposed, was the crash, though he couldn't imagine where all the green light came 
from. He couldn't remember his parents at all. His aunt and uncle never spoke about them, and 
of course he was forbidden to ask questions. There were no photographs of them in the house.'''

In [102]:
x,para={},text.split()
for i in para:
    if i[0] in ['a','A','e','E','i','I','o','O','u','U']:
        x[i] = para.count(i)
x = dict(sorted(x.items(),key=lambda x:x[1],reverse = True))
print('Word\t    Frequency')
for i in x.keys():
    print('{0:<7}{1:10}'.format(i,x[i]))

Word	    Frequency
in              5
a               5
and             5
of              3
as              2
it              1
asleep          1
Until           1
almost          1
ever            1
up              1
on              1
imagine         1
all             1
at              1
all.            1
aunt            1
uncle           1
about           1
ask             1

##### 1b. Print out words that have an apostrophe (‘) in the middle of the word. Examples include English contractions such as “didn’t”, “wasn’t”,“couldn’t", or "she'd".

In [103]:
for i in para:
    if "'" in i:
        print(i)

didn't
couldn't
couldn't
He'd
he'd
couldn't
couldn't
couldn't

##### 1c. Remove all stopwords, and words with an apostrophe in the text and print it out. You can find a list of English stopwords here: http://www.ranks.nl/stopwords.

In [104]:
stop_words='''
a
about
above
after
again
against
all
am
an
and
any
are
aren't
as
at
be
because
been
before
being
below
between
both
but
by
can't
cannot
could
couldn't
did
didn't
do
does
doesn't
doing
don't
down
during
each
few
for
from
further
had
hadn't
has
hasn't
have
haven't
having
he
he'd
he'll
he's
her
here
here's
hers
herself
him
himself
his
how
how's
i
i'd
i'll
i'm
i've
if
in
into
is
isn't
it
it's
its
itself
let's
me
more
most
mustn't
my
myself
no
nor
not
of
off
on
once
only
or
other
ought
our
ours
ourselves
out
over
own
same
shan't
she
she'd
she'll
she's
should
shouldn't
so
some
such
than
that
that's
the
their
theirs
them
themselves
then
there
there's
these
they
they'd
they'll
they're
they've
this
those
through
to
too
under
until
up
very
was
wasn't
we
we'd
we'll
we're
we've
were
weren't
what
what's
when
when's
where
where's
which
while
who
who's
whom
why
why's
with
won't
would
wouldn't
you
you'd
you'll
you're
you've
your
yours
yourself
yourselves'''.split()
for i in para:
    if i in stop_words:
        print(i)

in
his
he
had
a
didn't
what
it
was
and
he
couldn't
be
the
were
they
he
couldn't
to
the
for
some
with
the
as
as
he
could
he'd
been
a
and
his
had
in
that
couldn't
being
in
the
when
his
had
when
he
his
during
in
his
he
up
with
a
a
of
and
a
on
his
he
was
the
he
couldn't
where
all
the
couldn't
his
at
and
about
and
of
he
was
to
were
no
of
them
in
the

# Question-2


### (1)
##### Create two files based on data published at U.S. climate data (http://www.usclimatedata.com/climate/denton/texas/united-states/ustx0353): 
##### ➢ File A (should be called 2011-Jan-June.txt, or 2011-Jan-June.csv) contains daily weather data from January 1, 2011 to June 30, 2011;
##### ➢ File B (called 2018-Jan-June.txt, or 2018-Jan-June.csv) contains daily weather data from January 1, 2018 to June 30, 2018;

##### To find the data, go to “History” tab of the above page, select the right year and month. You will see the data being presented to you. 
##### The final format of each result file should look like the following:
##### <p> Date-month>,  High>,  Low>,  Precip></p>
##### 1-Jan,55,33,0.08
#### a2-Jan,55,33,0.12
#### ……
#### 1-June,80,56,0,15
#### …
#### The delimiter can be comma (,) or whitespace. Make sure you round the numbers for the temperature so there is no decimal points

In [105]:
raw_data = '''01 Jan	57.9	28.0	0.00	-	-
02 Jan	39.9	23.0	0.00	-	-
03 Jan	48.0	24.1	0.00	-	-
04 Jan	59.0	33.1	0.00	-	-
05 Jan	55.0	33.1	0.00	-	-
06 Jan	57.0	33.1	0.00	-	-
07 Jan	61.0	37.9	0.00	-	-
08 Jan	66.0	34.0	0.00	-	-
09 Jan	52.0	33.1	0.64	-	-
10 Jan	37.9	26.1	1.00	-	-
11 Jan	33.1	18.0	0.00	-	-
12 Jan	30.0	18.0	0.00	-	-
13 Jan	28.9	21.9	0.00	-	-
14 Jan	37.9	23.0	0.00	-	-
15 Jan	45.0	30.0	0.02	-	-
16 Jan	53.1	41.0	0.05	-	-
17 Jan	46.0	42.1	0.00	-	-
18 Jan	59.0	44.1	0.00	-	-
19 Jan	53.1	30.0	0.00	-	-
20 Jan	55.0	28.9	0.05	-	-
21 Jan	34.0	19.9	0.00	-	-
22 Jan	44.1	19.0	0.00	-	-
23 Jan	59.0	26.1	0.00	-	-
24 Jan	50.0	23.0	0.00	-	-
25 Jan	55.9	23.0	0.00	-	-
26 Jan	50.0	30.9	0.00	-	-
27 Jan	60.1	30.9	0.00	-	-
28 Jan	64.9	30.9	0.00	-	-
29 Jan	73.9	42.1	0.00	-	-
30 Jan	75.0	45.0	0.00	-	-
31 Jan	61.0	37.0	0.00	-	-
01 Feb	48.0	17.1	0.37	-	-
02 Feb	19.0	10.9	0.00	-	-
03 Feb	18.0	10.9	0.00	-	-
04 Feb	21.9	14.0	4.00	-	-
05 Feb	28.0	18.0	0.00	-	-
06 Feb	53.1	18.0	0.00	-	-
07 Feb	48.9	33.1	0.05	-	-
08 Feb	46.0	32.0	0.00	-	-
09 Feb	54.0	12.9	0.00	-	-
10 Feb	23.0	12.9	0.11	-	-
11 Feb	36.0	12.9	0.00	-	-
12 Feb	54.0	21.9	0.00	-	-
13 Feb	66.0	27.0	0.00	-	-
14 Feb	73.0	37.0	0.00	-	-
15 Feb	73.0	37.0	0.00	-	-
16 Feb	75.9	57.0	0.00	-	-
17 Feb	71.1	62.1	0.00	-	-
18 Feb	78.1	62.1	0.00	-	-
19 Feb	82.0	57.9	0.00	-	-
20 Feb	73.9	57.9	0.00	-	-
21 Feb	77.0	57.9	0.00	-	-
22 Feb	70.0	35.1	0.00	-	-
23 Feb	66.0	37.0	0.00	-	-
24 Feb	69.1	57.0	0.00	-	-
25 Feb	81.0	37.0	0.00	-	-
26 Feb	55.0	36.0	0.00	-	-
27 Feb	73.9	36.0	0.00	-	-
28 Feb	78.1	44.1	0.03	-	-
01 Mar	60.1	34.0	0.00	-	-
02 Mar	70.0	35.1	0.00	-	-
03 Mar	73.0	36.0	0.00	-	-
04 Mar	75.9	48.0	0.00	-	-
05 Mar	71.1	37.9	0.00	-	-
06 Mar	55.9	32.0	0.00	-	-
07 Mar	61.0	32.0	0.00	-	-
08 Mar	63.0	46.9	0.00	-	-
09 Mar	80.1	44.1	0.00	-	-
10 Mar	63.0	39.0	0.00	-	-
11 Mar	66.0	39.0	0.00	-	-
12 Mar	77.0	46.9	0.00	-	-
13 Mar	78.1	54.0	0.00	-	-
14 Mar	75.0	44.1	0.00	-	-
15 Mar	59.0	36.0	0.00	-	-
16 Mar	62.1	35.1	0.00	-	-
17 Mar	75.0	54.0	0.00	-	-
18 Mar	84.0	54.0	0.00	-	-
19 Mar	86.0	54.0	0.00	-	-
20 Mar	82.9	62.1	0.00	-	-
21 Mar	81.0	62.1	0.00	-	-
22 Mar	82.0	64.9	0.00	-	-
23 Mar	82.0	62.1	0.00	-	-
24 Mar	78.1	48.0	0.00	-	-
25 Mar	77.0	48.0	0.00	-	-
26 Mar	84.9	62.1	0.00	-	-
27 Mar	80.1	45.0	0.00	-	-
28 Mar	48.9	46.0	0.01	-	-
29 Mar	57.9	45.0	0.00	-	-
30 Mar	51.1	37.9	0.11	-	-
31 Mar	55.0	37.9	0.00	-	-
01 Apr	77.0	39.0	0.00	-	-
02 Apr	87.1	39.0	0.00	-	-
03 Apr	86.0	52.0	0.00	-	-
04 Apr	86.0	57.0	0.00	-	-
05 Apr	64.0	37.0	0.00	-	-
06 Apr	73.0	45.0	0.00	-	-
07 Apr	84.0	54.0	0.00	-	-
08 Apr	84.0	64.0	0.00	-	-
09 Apr	90.0	69.1	0.00	-	-
10 Apr	89.1	69.1	0.00	-	-
11 Apr	90.0	57.9	1.16	-	-
12 Apr	75.9	39.9	0.00	-	-
13 Apr	79.0	48.0	0.00	-	-
14 Apr	80.1	55.9	0.00	-	-
15 Apr	84.9	54.0	0.00	-	-
16 Apr	84.9	48.0	0.00	-	-
17 Apr	73.9	48.0	0.00	-	-
18 Apr	82.0	54.0	0.00	-	-
19 Apr	91.0	69.1	0.00	-	-
20 Apr	93.0	62.1	0.22	-	-
21 Apr	64.0	57.0	0.04	-	-
22 Apr	82.9	55.9	0.00	-	-
23 Apr	88.0	71.1	0.00	-	-
24 Apr	88.0	66.0	0.26	-	-
25 Apr	82.0	61.0	0.97	-	-
26 Apr	84.0	54.0	1.61	-	-
27 Apr	70.0	54.0	0.00	-	-
28 Apr	70.0	46.9	0.00	-	-
29 Apr	75.9	53.1	0.00	-	-
30 Apr	84.0	60.1	0.00	-	-
01 May	84.9	59.0	0.00	-	-
02 May	59.0	43.0	2.90	-	-
03 May	51.1	41.0	0.61	-	-
04 May	69.1	42.1	0.00	-	-
05 May	75.0	46.0	0.00	-	-
06 May	77.0	54.0	0.00	-	-
07 May	84.0	54.0	0.00	-	-
08 May	89.1	64.9	0.00	-	-
09 May	90.0	70.0	0.00	-	-
10 May	91.0	72.0	0.00	-	-
11 May	82.9	66.0	0.12	-	-
12 May	79.0	62.1	0.96	-	-
13 May	80.1	57.9	0.00	-	-
14 May	73.0	48.9	0.00	-	-
15 May	69.1	48.9	0.00	-	-
16 May	73.0	48.9	0.00	-	-
17 May	73.0	48.9	0.00	-	-
18 May	81.0	52.0	0.00	-	-
19 May	86.0	66.9	0.00	-	-
20 May	86.0	68.0	0.00	-	-
21 May	82.9	61.0	0.74	-	-
22 May	88.0	64.9	0.00	-	-
23 May	90.0	66.9	0.24	-	-
24 May	84.9	71.1	0.54	-	-
25 May	89.1	72.0	0.69	-	-
26 May	90.0	57.9	0.00	-	-
27 May	81.0	57.9	0.00	-	-
28 May	95.0	66.0	0.00	-	-
29 May	96.1	73.0	0.00	-	-
30 May	93.0	73.9	0.00	-	-
31 May	91.9	75.0	0.00	-	-
01 Jun	91.9	73.0	0.00	-	-
02 Jun	93.9	71.1	0.00	-	-
03 Jun	96.1	70.0	0.00	-	-
04 Jun	97.0	73.9	0.00	-	-
05 Jun	96.1	73.0	0.00	-	-
06 Jun	98.1	71.1	0.00	-	-
07 Jun	98.1	75.9	0.00	-	-
08 Jun	97.0	75.9	0.00	-	-
09 Jun	93.9	75.9	0.00	-	-
10 Jun	95.0	75.9	0.00	-	-
11 Jun	95.0	75.9	0.00	-	-
12 Jun	96.1	75.9	0.00	-	-
13 Jun	98.1	75.9	0.00	-	-
14 Jun	100.0	79.0	0.00	-	-
15 Jun	100.9	73.9	0.05	-	-
16 Jun	100.0	78.1	0.00	-	-
17 Jun	99.0	79.0	0.00	-	-
18 Jun	102.0	79.0	0.00	-	-
19 Jun	102.9	79.0	0.00	-	-
20 Jun	102.0	78.1	0.00	-	-
21 Jun	97.0	66.9	1.29	-	-
22 Jun	97.0	66.0	0.32	-	-
23 Jun	91.9	70.0	0.00	-	-
24 Jun	97.0	72.0	0.00	-	-
25 Jun	97.0	73.0	0.00	-	-
26 Jun	95.0	77.0	0.00	-	-
27 Jun	97.0	78.1	0.00	-	-
28 Jun	99.0	80.1	0.00	-	-
29 Jun	99.0	79.0	0.00	-	-
30 Jun	99.0	78.1	0.00	-	-'''

In [106]:
processed_data=[]
raw_data = raw_data.split()
for i in range(0,len(raw_data)-7,7):
    processed_data.append([raw_data[i]+'-'+raw_data[i+1],int(float(raw_data[i+2])),int(float(raw_data[i+3])),int(float(raw_data[i+4]))])
processed_data

[['01-Jan', 57, 28, 0],
 ['02-Jan', 39, 23, 0],
 ['03-Jan', 48, 24, 0],
 ['04-Jan', 59, 33, 0],
 ['05-Jan', 55, 33, 0],
 ['06-Jan', 57, 33, 0],
 ['07-Jan', 61, 37, 0],
 ['08-Jan', 66, 34, 0],
 ['09-Jan', 52, 33, 0],
 ['10-Jan', 37, 26, 1],
 ['11-Jan', 33, 18, 0],
 ['12-Jan', 30, 18, 0],
 ['13-Jan', 28, 21, 0],
 ['14-Jan', 37, 23, 0],
 ['15-Jan', 45, 30, 0],
 ['16-Jan', 53, 41, 0],
 ['17-Jan', 46, 42, 0],
 ['18-Jan', 59, 44, 0],
 ['19-Jan', 53, 30, 0],
 ['20-Jan', 55, 28, 0],
 ['21-Jan', 34, 19, 0],
 ['22-Jan', 44, 19, 0],
 ['23-Jan', 59, 26, 0],
 ['24-Jan', 50, 23, 0],
 ['25-Jan', 55, 23, 0],
 ['26-Jan', 50, 30, 0],
 ['27-Jan', 60, 30, 0],
 ['28-Jan', 64, 30, 0],
 ['29-Jan', 73, 42, 0],
 ['30-Jan', 75, 45, 0],
 ['31-Jan', 61, 37, 0],
 ['01-Feb', 48, 17, 0],
 ['02-Feb', 19, 10, 0],
 ['03-Feb', 18, 10, 0],
 ['04-Feb', 21, 14, 4],
 ['05-Feb', 28, 18, 0],
 ['06-Feb', 53, 18, 0],
 ['07-Feb', 48, 33, 0],
 ['08-Feb', 46, 32, 0],
 ['09-Feb', 54, 12, 0],
 ['10-Feb', 23, 12, 0],
 ['11-Feb', 36, 12, 0],
 ['12-Feb', 54, 21, 0],
 ['13-Feb', 66, 27, 0],
 ['14-Feb', 73, 37, 0],
 ['15-Feb', 73, 37, 0],
 ['16-Feb', 75, 57, 0],
 ['17-Feb', 71, 62, 0],
 ['18-Feb', 78, 62, 0],
 ['19-Feb', 82, 57, 0],
 ['20-Feb', 73, 57, 0],
 ['21-Feb', 77, 57, 0],
 ['22-Feb', 70, 35, 0],
 ['23-Feb', 66, 37, 0],
 ['24-Feb', 69, 57, 0],
 ['25-Feb', 81, 37, 0],
 ['26-Feb', 55, 36, 0],
 ['27-Feb', 73, 36, 0],
 ['28-Feb', 78, 44, 0],
 ['01-Mar', 60, 34, 0],
 ['02-Mar', 70, 35, 0],
 ['03-Mar', 73, 36, 0],
 ['04-Mar', 75, 48, 0],
 ['05-Mar', 71, 37, 0],
 ['06-Mar', 55, 32, 0],
 ['07-Mar', 61, 32, 0],
 ['08-Mar', 63, 46, 0],
 ['09-Mar', 80, 44, 0],
 ['10-Mar', 63, 39, 0],
 ['11-Mar', 66, 39, 0],
 ['12-Mar', 77, 46, 0],
 ['13-Mar', 78, 54, 0],
 ['14-Mar', 75, 44, 0],
 ['15-Mar', 59, 36, 0],
 ['16-Mar', 62, 35, 0],
 ['17-Mar', 75, 54, 0],
 ['18-Mar', 84, 54, 0],
 ['19-Mar', 86, 54, 0],
 ['20-Mar', 82, 62, 0],
 ['21-Mar', 81, 62, 0],
 ['22-Mar', 82, 64, 0],
 ['23-Mar', 82, 62, 0],
 ['24-Mar', 78, 48, 0],
 ['25-Mar', 77, 48, 0],
 ['26-Mar', 84, 62, 0],
 ['27-Mar', 80, 45, 0],
 ['28-Mar', 48, 46, 0],
 ['29-Mar', 57, 45, 0],
 ['30-Mar', 51, 37, 0],
 ['31-Mar', 55, 37, 0],
 ['01-Apr', 77, 39, 0],
 ['02-Apr', 87, 39, 0],
 ['03-Apr', 86, 52, 0],
 ['04-Apr', 86, 57, 0],
 ['05-Apr', 64, 37, 0],
 ['06-Apr', 73, 45, 0],
 ['07-Apr', 84, 54, 0],
 ['08-Apr', 84, 64, 0],
 ['09-Apr', 90, 69, 0],
 ['10-Apr', 89, 69, 0],
 ['11-Apr', 90, 57, 1],
 ['12-Apr', 75, 39, 0],
 ['13-Apr', 79, 48, 0],
 ['14-Apr', 80, 55, 0],
 ['15-Apr', 84, 54, 0],
 ['16-Apr', 84, 48, 0],
 ['17-Apr', 73, 48, 0],
 ['18-Apr', 82, 54, 0],
 ['19-Apr', 91, 69, 0],
 ['20-Apr', 93, 62, 0],
 ['21-Apr', 64, 57, 0],
 ['22-Apr', 82, 55, 0],
 ['23-Apr', 88, 71, 0],
 ['24-Apr', 88, 66, 0],
 ['25-Apr', 82, 61, 0],
 ['26-Apr', 84, 54, 1],
 ['27-Apr', 70, 54, 0],
 ['28-Apr', 70, 46, 0],
 ['29-Apr', 75, 53, 0],
 ['30-Apr', 84, 60, 0],
 ['01-May', 84, 59, 0],
 ['02-May', 59, 43, 2],
 ['03-May', 51, 41, 0],
 ['04-May', 69, 42, 0],
 ['05-May', 75, 46, 0],
 ['06-May', 77, 54, 0],
 ['07-May', 84, 54, 0],
 ['08-May', 89, 64, 0],
 ['09-May', 90, 70, 0],
 ['10-May', 91, 72, 0],
 ['11-May', 82, 66, 0],
 ['12-May', 79, 62, 0],
 ['13-May', 80, 57, 0],
 ['14-May', 73, 48, 0],
 ['15-May', 69, 48, 0],
 ['16-May', 73, 48, 0],
 ['17-May', 73, 48, 0],
 ['18-May', 81, 52, 0],
 ['19-May', 86, 66, 0],
 ['20-May', 86, 68, 0],
 ['21-May', 82, 61, 0],
 ['22-May', 88, 64, 0],
 ['23-May', 90, 66, 0],
 ['24-May', 84, 71, 0],
 ['25-May', 89, 72, 0],
 ['26-May', 90, 57, 0],
 ['27-May', 81, 57, 0],
 ['28-May', 95, 66, 0],
 ['29-May', 96, 73, 0],
 ['30-May', 93, 73, 0],
 ['31-May', 91, 75, 0],
 ['01-Jun', 91, 73, 0],
 ['02-Jun', 93, 71, 0],
 ['03-Jun', 96, 70, 0],
 ['04-Jun', 97, 73, 0],
 ['05-Jun', 96, 73, 0],
 ['06-Jun', 98, 71, 0],
 ['07-Jun', 98, 75, 0],
 ['08-Jun', 97, 75, 0],
 ['09-Jun', 93, 75, 0],
 ['10-Jun', 95, 75, 0],
 ['11-Jun', 95, 75, 0],
 ['12-Jun', 96, 75, 0],
 ['13-Jun', 98, 75, 0],
 ['14-Jun', 100, 79, 0],
 ['15-Jun', 100, 73, 0],
 ['16-Jun', 100, 78, 0],
 ['17-Jun', 99, 79, 0],
 ['18-Jun', 102, 79, 0],
 ['19-Jun', 102, 79, 0],
 ['20-Jun', 102, 78, 0],
 ['21-Jun', 97, 66, 1],
 ['22-Jun', 97, 66, 0],
 ['23-Jun', 91, 70, 0],
 ['24-Jun', 97, 72, 0],
 ['25-Jun', 97, 73, 0],
 ['26-Jun', 95, 77, 0],
 ['27-Jun', 97, 78, 0],
 ['28-Jun', 99, 80, 0],
 ['29-Jun', 99, 79, 0]]

### File - A generation

In [107]:
import pandas as pd
processed_data = pd.DataFrame(processed_data,columns=['Date-month','High','Low','Precip'])
processed_data.to_csv('2011-Jan-June.csv',index=False)
processed_data

    Date-month  High  Low  Precip
0       01-Jan    57   28       0
1       02-Jan    39   23       0
2       03-Jan    48   24       0
3       04-Jan    59   33       0
4       05-Jan    55   33       0
..         ...   ...  ...     ...
175     25-Jun    97   73       0
176     26-Jun    95   77       0
177     27-Jun    97   78       0
178     28-Jun    99   80       0
179     29-Jun    99   79       0

[180 rows x 4 columns]

In [108]:
raw_data ='''01 Jan	44.1	25.0	0.00	-	-
02 Jan	44.1	12.9	0.00	-	-
03 Jan	23.0	14.0	0.00	-	-
04 Jan	46.0	17.1	0.00	-	-
05 Jan	46.9	25.0	0.00	-	-
06 Jan	61.0	32.0	0.00	-	-
07 Jan	62.1	37.9	0.00	-	-
08 Jan	57.9	39.9	0.12	-	-
09 Jan	57.9	33.1	0.00	-	-
10 Jan	54.0	34.0	0.00	-	-
11 Jan	55.9	45.0	0.00	-	-
12 Jan	57.9	19.9	0.00	-	-
13 Jan	42.1	19.9	0.00	-	-
14 Jan	43.0	26.1	0.00	-	-
15 Jan	53.1	28.9	0.00	-	-
16 Jan	59.0	17.1	0.00	-	-
17 Jan	57.9	10.0	0.00	-	-
18 Jan	34.0	10.9	0.00	-	-
19 Jan	46.0	18.0	0.00	-	-
20 Jan	57.9	34.0	0.00	-	-
21 Jan	70.0	51.1	0.00	-	-
22 Jan	75.0	41.0	0.00	-	-
23 Jan	57.0	34.0	0.00	-	-
24 Jan	57.9	30.0	0.00	-	-
25 Jan	63.0	30.0	0.00	-	-
26 Jan	64.9	32.0	0.03	-	-
27 Jan	62.1	50.0	0.00	-	-
28 Jan	63.0	36.0	0.00	-	-
29 Jan	63.0	34.0	0.00	-	-
30 Jan	52.0	28.0	0.00	-	-
31 Jan	62.1	32.0	0.00	-	-
01 Feb	75.0	43.0	0.00	-	-
02 Feb	61.0	32.0	0.00	-	-
03 Feb	60.1	30.9	0.00	-	-
04 Feb	59.0	39.0	0.00	-	-
05 Feb	63.0	21.9	0.00	-	-
06 Feb	42.1	21.0	0.00	-	-
07 Feb	39.9	28.0	0.00	-	-
08 Feb	46.9	26.1	0.05	-	-
09 Feb	57.9	27.0	0.00	-	-
10 Feb	70.0	35.1	0.00	-	-
11 Feb	36.0	28.9	0.00	-	-
12 Feb	39.0	23.0	0.00	-	-
13 Feb	44.1	24.1	0.00	-	-
14 Feb	46.0	37.9	0.06	-	-
15 Feb	78.1	44.1	0.00	-	-
16 Feb	79.0	52.0	0.00	-	-
17 Feb	61.0	39.0	0.00	-	-
18 Feb	63.0	39.9	0.00	-	-
19 Feb	68.0	46.0	0.02	-	-
20 Feb	75.0	63.0	0.60	-	-
21 Feb	68.0	30.9	2.20	-	-
22 Feb	34.0	30.0	2.00	-	-
23 Feb	37.0	30.9	0.62	-	-
24 Feb	48.0	37.0	0.19	-	-
25 Feb	61.0	37.0	0.10	-	-
26 Feb	66.0	39.0	0.00	-	-
27 Feb	66.9	45.0	0.00	-	-
28 Feb	66.9	45.0	0.10	-	-
01 Mar	68.0	48.9	1.52	-	-
02 Mar	62.1	41.0	0.00	-	-
03 Mar	68.0	39.9	0.00	-	-
04 Mar	72.0	48.9	0.00	-	-
05 Mar	68.0	60.1	0.05	-	-
06 Mar	66.9	39.0	0.00	-	-
07 Mar	64.0	36.0	0.00	-	-
08 Mar	57.0	36.0	0.00	-	-
09 Mar	66.9	37.9	0.00	-	-
10 Mar	59.0	52.0	0.00	-	-
11 Mar	80.1	51.1	0.00	-	-
12 Mar	80.1	37.0	0.00	-	-
13 Mar	60.1	36.0	0.00	-	-
14 Mar	60.1	37.9	0.00	-	-
15 Mar	66.9	36.0	0.00	-	-
16 Mar	75.9	50.0	0.00	-	-
17 Mar	82.9	52.0	0.00	-	-
18 Mar	75.0	51.1	0.02	-	-
19 Mar	78.1	55.0	0.00	-	-
20 Mar	68.0	42.1	0.00	-	-
21 Mar	68.0	41.0	0.00	-	-
22 Mar	71.1	41.0	0.00	-	-
23 Mar	78.1	52.0	0.00	-	-
24 Mar	75.0	61.0	0.00	-	-
25 Mar	82.9	57.0	0.00	-	-
26 Mar	73.9	57.0	0.00	-	-
27 Mar	82.9	57.0	0.13	-	-
28 Mar	64.9	54.0	1.63	-	-
29 Mar	64.9	53.1	0.18	-	-
30 Mar	69.1	46.0	0.00	-	-
31 Mar	69.1	44.1	0.00	-	-
01 Apr	77.0	54.0	0.00	-	-
02 Apr	78.1	39.0	0.00	-	-
03 Apr	68.0	39.0	0.00	-	-
04 Apr	81.0	39.0	0.00	-	-
05 Apr	61.0	37.9	0.00	-	-
06 Apr	73.0	52.0	0.02	-	-
07 Apr	84.9	35.1	0.00	-	-
08 Apr	42.1	32.0	0.00	-	-
09 Apr	55.0	36.0	0.00	-	-
10 Apr	68.0	39.9	0.00	-	-
11 Apr	69.1	44.1	0.00	-	-
12 Apr	79.0	44.1	0.00	-	-
13 Apr	81.0	61.0	0.00	-	-
14 Apr	84.9	43.0	0.54	-	-
15 Apr	59.0	36.0	0.00	-	-
16 Apr	62.1	36.0	0.00	-	-
17 Apr	80.1	39.0	0.00	-	-
18 Apr	84.9	57.9	0.00	-	-
19 Apr	84.0	46.0	0.00	-	-
20 Apr	68.0	46.0	0.00	-	-
21 Apr	69.1	46.0	0.00	-	-
22 Apr	59.0	48.9	0.45	-	-
23 Apr	64.0	48.0	0.00	-	-
24 Apr	73.0	51.1	0.00	-	-
25 Apr	80.1	52.0	0.07	-	-
26 Apr	62.1	45.0	0.35	-	-
27 Apr	71.1	44.1	0.00	-	-
28 Apr	77.0	44.1	0.00	-	-
29 Apr	81.0	46.9	0.00	-	-
30 Apr	82.9	55.9	0.00	-	-
01 May	80.1	61.0	0.00	-	-
02 May	80.1	61.0	0.00	-	-
03 May	84.0	61.0	0.00	-	-
04 May	84.0	61.0	0.90	-	-
05 May	71.1	57.0	0.30	-	-
06 May	81.0	55.0	0.00	-	-
07 May	84.9	55.9	0.00	-	-
08 May	91.0	62.1	0.00	-	-
09 May	88.0	66.0	0.00	-	-
10 May	86.0	66.0	0.00	-	-
11 May	84.9	66.0	0.00	-	-
12 May	87.1	64.9	0.00	-	-
13 May	88.0	71.1	0.00	-	-
14 May	90.0	71.1	0.00	-	-
15 May	89.1	73.0	0.00	-	-
16 May	88.0	66.0	0.00	-	-
17 May	88.0	64.0	0.00	-	-
18 May	91.0	64.9	0.00	-	-
19 May	96.1	64.9	0.00	-	-
20 May	91.0	64.9	0.10	-	-
21 May	80.1	64.0	0.44	-	-
22 May	86.0	64.0	0.00	-	-
23 May	87.1	64.0	0.00	-	-
24 May	90.0	71.1	0.00	-	-
25 May	90.0	72.0	0.00	-	-
26 May	88.0	69.1	0.00	-	-
27 May	96.1	69.1	0.00	-	-
28 May	97.0	70.0	0.00	-	-
29 May	93.0	72.0	0.00	-	-
30 May	96.1	73.0	0.00	-	-
31 May	95.0	75.0	0.00	-	-
01 Jun	95.0	75.0	0.00	-	-
02 Jun	98.1	77.0	0.00	-	-
03 Jun	100.0	75.0	0.00	-	-
04 Jun	89.1	66.9	0.00	-	-
05 Jun	82.0	66.0	0.13	-	-
06 Jun	93.0	70.0	0.02	-	-
07 Jun	96.1	70.0	0.00	-	-
08 Jun	93.9	70.0	0.96	-	-
09 Jun	93.9	69.1	0.00	-	-
10 Jun	95.0	75.0	0.00	-	-
11 Jun	96.1	77.0	0.00	-	-
12 Jun	93.9	78.1	0.00	-	-
13 Jun	93.9	78.1	0.00	-	-
14 Jun	96.1	77.0	0.00	-	-
15 Jun	96.1	77.0	0.00	-	-
16 Jun	96.1	77.0	0.00	-	-
17 Jun	95.0	77.0	0.00	-	-
18 Jun	91.9	78.1	0.00	-	-
19 Jun	93.9	73.0	0.00	-	-
20 Jun	93.9	73.0	0.03	-	-
21 Jun	95.0	71.1	0.60	-	-
22 Jun	96.1	71.1	0.00	-	-
23 Jun	100.0	73.0	0.00	-	-
24 Jun	97.0	73.9	0.00	-	-
25 Jun	99.0	70.0	0.01	-	-
26 Jun	95.0	70.0	0.00	-	-
27 Jun	97.0	70.0	0.00	-	-
28 Jun	100.0	79.0	0.00	-	-
29 Jun	100.0	78.1	0.00	-	-
30 Jun	98.1	78.1	0.00	-	-'''

In [109]:
processed_data=[]
raw_data = raw_data.split()
for i in range(0,len(raw_data)-7,7):
    processed_data.append([raw_data[i]+'-'+raw_data[i+1],int(float(raw_data[i+2])),int(float(raw_data[i+3])),int(float(raw_data[i+4]))])
processed_data

[['01-Jan', 44, 25, 0],
 ['02-Jan', 44, 12, 0],
 ['03-Jan', 23, 14, 0],
 ['04-Jan', 46, 17, 0],
 ['05-Jan', 46, 25, 0],
 ['06-Jan', 61, 32, 0],
 ['07-Jan', 62, 37, 0],
 ['08-Jan', 57, 39, 0],
 ['09-Jan', 57, 33, 0],
 ['10-Jan', 54, 34, 0],
 ['11-Jan', 55, 45, 0],
 ['12-Jan', 57, 19, 0],
 ['13-Jan', 42, 19, 0],
 ['14-Jan', 43, 26, 0],
 ['15-Jan', 53, 28, 0],
 ['16-Jan', 59, 17, 0],
 ['17-Jan', 57, 10, 0],
 ['18-Jan', 34, 10, 0],
 ['19-Jan', 46, 18, 0],
 ['20-Jan', 57, 34, 0],
 ['21-Jan', 70, 51, 0],
 ['22-Jan', 75, 41, 0],
 ['23-Jan', 57, 34, 0],
 ['24-Jan', 57, 30, 0],
 ['25-Jan', 63, 30, 0],
 ['26-Jan', 64, 32, 0],
 ['27-Jan', 62, 50, 0],
 ['28-Jan', 63, 36, 0],
 ['29-Jan', 63, 34, 0],
 ['30-Jan', 52, 28, 0],
 ['31-Jan', 62, 32, 0],
 ['01-Feb', 75, 43, 0],
 ['02-Feb', 61, 32, 0],
 ['03-Feb', 60, 30, 0],
 ['04-Feb', 59, 39, 0],
 ['05-Feb', 63, 21, 0],
 ['06-Feb', 42, 21, 0],
 ['07-Feb', 39, 28, 0],
 ['08-Feb', 46, 26, 0],
 ['09-Feb', 57, 27, 0],
 ['10-Feb', 70, 35, 0],
 ['11-Feb', 36, 28, 0],
 ['12-Feb', 39, 23, 0],
 ['13-Feb', 44, 24, 0],
 ['14-Feb', 46, 37, 0],
 ['15-Feb', 78, 44, 0],
 ['16-Feb', 79, 52, 0],
 ['17-Feb', 61, 39, 0],
 ['18-Feb', 63, 39, 0],
 ['19-Feb', 68, 46, 0],
 ['20-Feb', 75, 63, 0],
 ['21-Feb', 68, 30, 2],
 ['22-Feb', 34, 30, 2],
 ['23-Feb', 37, 30, 0],
 ['24-Feb', 48, 37, 0],
 ['25-Feb', 61, 37, 0],
 ['26-Feb', 66, 39, 0],
 ['27-Feb', 66, 45, 0],
 ['28-Feb', 66, 45, 0],
 ['01-Mar', 68, 48, 1],
 ['02-Mar', 62, 41, 0],
 ['03-Mar', 68, 39, 0],
 ['04-Mar', 72, 48, 0],
 ['05-Mar', 68, 60, 0],
 ['06-Mar', 66, 39, 0],
 ['07-Mar', 64, 36, 0],
 ['08-Mar', 57, 36, 0],
 ['09-Mar', 66, 37, 0],
 ['10-Mar', 59, 52, 0],
 ['11-Mar', 80, 51, 0],
 ['12-Mar', 80, 37, 0],
 ['13-Mar', 60, 36, 0],
 ['14-Mar', 60, 37, 0],
 ['15-Mar', 66, 36, 0],
 ['16-Mar', 75, 50, 0],
 ['17-Mar', 82, 52, 0],
 ['18-Mar', 75, 51, 0],
 ['19-Mar', 78, 55, 0],
 ['20-Mar', 68, 42, 0],
 ['21-Mar', 68, 41, 0],
 ['22-Mar', 71, 41, 0],
 ['23-Mar', 78, 52, 0],
 ['24-Mar', 75, 61, 0],
 ['25-Mar', 82, 57, 0],
 ['26-Mar', 73, 57, 0],
 ['27-Mar', 82, 57, 0],
 ['28-Mar', 64, 54, 1],
 ['29-Mar', 64, 53, 0],
 ['30-Mar', 69, 46, 0],
 ['31-Mar', 69, 44, 0],
 ['01-Apr', 77, 54, 0],
 ['02-Apr', 78, 39, 0],
 ['03-Apr', 68, 39, 0],
 ['04-Apr', 81, 39, 0],
 ['05-Apr', 61, 37, 0],
 ['06-Apr', 73, 52, 0],
 ['07-Apr', 84, 35, 0],
 ['08-Apr', 42, 32, 0],
 ['09-Apr', 55, 36, 0],
 ['10-Apr', 68, 39, 0],
 ['11-Apr', 69, 44, 0],
 ['12-Apr', 79, 44, 0],
 ['13-Apr', 81, 61, 0],
 ['14-Apr', 84, 43, 0],
 ['15-Apr', 59, 36, 0],
 ['16-Apr', 62, 36, 0],
 ['17-Apr', 80, 39, 0],
 ['18-Apr', 84, 57, 0],
 ['19-Apr', 84, 46, 0],
 ['20-Apr', 68, 46, 0],
 ['21-Apr', 69, 46, 0],
 ['22-Apr', 59, 48, 0],
 ['23-Apr', 64, 48, 0],
 ['24-Apr', 73, 51, 0],
 ['25-Apr', 80, 52, 0],
 ['26-Apr', 62, 45, 0],
 ['27-Apr', 71, 44, 0],
 ['28-Apr', 77, 44, 0],
 ['29-Apr', 81, 46, 0],
 ['30-Apr', 82, 55, 0],
 ['01-May', 80, 61, 0],
 ['02-May', 80, 61, 0],
 ['03-May', 84, 61, 0],
 ['04-May', 84, 61, 0],
 ['05-May', 71, 57, 0],
 ['06-May', 81, 55, 0],
 ['07-May', 84, 55, 0],
 ['08-May', 91, 62, 0],
 ['09-May', 88, 66, 0],
 ['10-May', 86, 66, 0],
 ['11-May', 84, 66, 0],
 ['12-May', 87, 64, 0],
 ['13-May', 88, 71, 0],
 ['14-May', 90, 71, 0],
 ['15-May', 89, 73, 0],
 ['16-May', 88, 66, 0],
 ['17-May', 88, 64, 0],
 ['18-May', 91, 64, 0],
 ['19-May', 96, 64, 0],
 ['20-May', 91, 64, 0],
 ['21-May', 80, 64, 0],
 ['22-May', 86, 64, 0],
 ['23-May', 87, 64, 0],
 ['24-May', 90, 71, 0],
 ['25-May', 90, 72, 0],
 ['26-May', 88, 69, 0],
 ['27-May', 96, 69, 0],
 ['28-May', 97, 70, 0],
 ['29-May', 93, 72, 0],
 ['30-May', 96, 73, 0],
 ['31-May', 95, 75, 0],
 ['01-Jun', 95, 75, 0],
 ['02-Jun', 98, 77, 0],
 ['03-Jun', 100, 75, 0],
 ['04-Jun', 89, 66, 0],
 ['05-Jun', 82, 66, 0],
 ['06-Jun', 93, 70, 0],
 ['07-Jun', 96, 70, 0],
 ['08-Jun', 93, 70, 0],
 ['09-Jun', 93, 69, 0],
 ['10-Jun', 95, 75, 0],
 ['11-Jun', 96, 77, 0],
 ['12-Jun', 93, 78, 0],
 ['13-Jun', 93, 78, 0],
 ['14-Jun', 96, 77, 0],
 ['15-Jun', 96, 77, 0],
 ['16-Jun', 96, 77, 0],
 ['17-Jun', 95, 77, 0],
 ['18-Jun', 91, 78, 0],
 ['19-Jun', 93, 73, 0],
 ['20-Jun', 93, 73, 0],
 ['21-Jun', 95, 71, 0],
 ['22-Jun', 96, 71, 0],
 ['23-Jun', 100, 73, 0],
 ['24-Jun', 97, 73, 0],
 ['25-Jun', 99, 70, 0],
 ['26-Jun', 95, 70, 0],
 ['27-Jun', 97, 70, 0],
 ['28-Jun', 100, 79, 0],
 ['29-Jun', 100, 78, 0]]

### File B Creation

In [110]:
import pandas as pd
processed_data = pd.DataFrame(processed_data,columns=['Date-month','High','Low','Precip'])
processed_data.to_csv('2018-Jan-June.csv',index=False)
processed_data

    Date-month  High  Low  Precip
0       01-Jan    44   25       0
1       02-Jan    44   12       0
2       03-Jan    23   14       0
3       04-Jan    46   17       0
4       05-Jan    46   25       0
..         ...   ...  ...     ...
175     25-Jun    99   70       0
176     26-Jun    95   70       0
177     27-Jun    97   70       0
178     28-Jun   100   79       0
179     29-Jun   100   78       0

[180 rows x 4 columns]

###(2)

In [111]:
file1=pd.read_csv('/content/2011-Jan-June.csv')
file2=pd.read_csv('/content/2018-Jan-June.csv')
file1_median=dict(file1.median())
file2_median=dict(file2.median())
file1_mean=dict(file1.mean())
file2_mean=dict(file2.mean())
file1_std=dict(file1.std())
file2_std=dict(file2.std())
for i in file1_median.keys():
  print('---------------Feature: {0}---------------'.format(i))
  print('fileName{0:<14}Mean{0:^5}Median{0:^5}Standard Deviation'.format(''))
  print('{0:<20}{1:^10.2f}{2:^10.2f}{3:^10.2f}'.format('2011-Jan-Jun.csv',file1_mean[i],file1_median[i],file1_std[i]))
  print('{0:<20}{1:^10.2f}{2:^10.2f}{3:^10.2f}\n\n'.format('2018-Jan-Jun.csv',file2_mean[i],file2_median[i],file2_std[i]))

---------------Feature: High---------------
fileName              Mean     Median     Standard Deviation
2011-Jan-Jun.csv      73.21     77.00     19.38
2018-Jan-Jun.csv      72.72     73.00     17.25


---------------Feature: Low---------------
fileName              Mean     Median     Standard Deviation
2011-Jan-Jun.csv      49.58     48.00     18.45
2018-Jan-Jun.csv      49.05     46.00     17.63


---------------Feature: Precip---------------
fileName              Mean     Median     Standard Deviation
2011-Jan-Jun.csv       0.06      0.00      0.36
2018-Jan-Jun.csv       0.03      0.00      0.23

# Question-3

###(1) 
#####Every instance of the Student class should have the following attributes:
#####➢ First Name
#####➢ Last Name
#####➢ Middle Name
#####➢ euid, by default euid is blank.
#####➢ GPA, by default the GPA is set to 0
#####➢ Classes taken. This object should store the class number (such as INFO 5717), the semester it was taken it (such as "Fall 2019"), and the grade the student obtained. 
HINT: use a collection data type.

In [112]:
import random
class Student:
    def __init__(self, first_name, last_name, middle_name, euid='', gpa=0.0, classes_taken={}):
        self.first_name = first_name
        self.last_name = last_name
        self.middle_name = middle_name
        self.euid = euid
        self.gpa = gpa
        self.classes_taken = classes_taken
        
    def add_class(self, class_number, semester, grade):
        self.classes_taken[class_number] = {'semester': semester, 'grade': grade}
        return
        
    def print_classes(self):
        for class_number, class_info in self.classes_taken.items():
            print(f"{class_number} taken in {class_info['semester']} with a grade of {class_info['grade']}")
        return
    #---------------------------------------3C---------------------------        
    def generate_euid(self):
        # Get the first three letters of the student's first, middle, and last names
        first_initial = self.first_name[0]
        middle_initial = self.middle_name[0]
        last_initial = self.last_name[0]
        
        # Generate a random four-digit number
        random_number = random.randint(1000, 9999)
        
        # Concatenate the initials and random number to form the EUID
        euid = f"{first_initial}{middle_initial}{last_initial}{random_number}"
        
        # Set the student's EUID attribute to the generated EUID
        self.euid = euid
        return
    #-------------------------------------3d-----------------------------
    def register(self):
        num_classes = int(input("How many classes would you like to register for? "))
        for i in range(num_classes):
            class_number = input("Enter the class number: ")
            semester = input("Enter the semester taken (e.g. Fall 2022): ")
            grade = input("Enter the grade obtained (e.g. A, B+, C): ")
            self.add_class(class_number, semester, grade)
        return
    #-----------------------------------3e--------------------------------
    def calculate_gpa(self):
        total_grade_points = 0
        num_classes = 0
        if len(self.classes_taken) == 0:
            print("No classes taken.")
            return
        for class_info in self.classes_taken.values():
            grade = class_info['grade']
            if grade == 'A':
                grade_points = 4.0
            elif grade == 'A-':
                grade_points = 3.7
            elif grade == 'B+':
                grade_points = 3.3
            elif grade == 'B':
                grade_points = 3.0
            elif grade == 'B-':
                grade_points = 2.7
            elif grade == 'C+':
                grade_points = 2.3
            elif grade == 'C':
                grade_points = 2.0
            elif grade == 'C-':
                grade_points = 1.7
            elif grade == 'D+':
                grade_points = 1.3
            elif grade == 'D':
                grade_points = 1.0
            elif grade == 'F':
                grade_points = 0.0
            else:
                print(f"Invalid grade '{grade}' for class {class_info['class_number']}")
                continue
            
            total_grade_points += grade_points
            num_classes += 1
        self.gpa = total_grade_points / num_classes
        print(f"Student {self.euid}'s GPA: {self.gpa:.2f}")

###(2) 
Write a program in the “<LastName>_assignment-two-code.ipynb” file that asks the user to enter information for three fictional students. The program should prompt the user to ask for the student's first, middle, and last names. This information should be stored in an object of type Student.

In [113]:
# Create three empty student objects
students = [Student("", "", "") for i in range(3)]

# Ask the user for information for each student
for i in range(3):
    print(f"Enter information for student {i+1}:")
    first_name = input("First name: ")
    middle_name = input("Middle name: ")
    last_name = input("Last name: ")
    students[i] = Student(first_name, last_name, middle_name)

# Print out the information for each student
for i, student in enumerate(students):
    print(f"\nInformation for student {i+1}:")
    print(f"Name: {student.first_name} {student.middle_name} {student.last_name}")
    print(f"EUID: {student.euid}")
    print(f"GPA: {student.gpa}")
    print("Classes taken:")
    student.print_classes()

Enter information for student 1:
First name: jaya venkata
Middle name: sivanath
Last name: venigalla
Enter information for student 2:
First name: mohana
Middle name: manjunath
Last name: venigalla
Enter information for student 3:
First name: naga
Middle name: jayanth nath
Last name: venigalla

Information for student 1:
Name: jaya venkata sivanath venigalla
EUID:
GPA: 0.0
Classes taken:

Information for student 2:
Name: mohana manjunath venigalla
EUID:
GPA: 0.0
Classes taken:

Information for student 3:
Name: naga jayanth nath venigalla
EUID:
GPA: 0.0
Classes taken:

###(3) 
Write a function for the Student class that assigns each student a euid. The euid should be composed of three letters (the first three letters of the student's first, middle, and last names) and then 4 digits chosen randomly. For example, if a student's name is Jennifer Lynn Meyers her euid could be "jlm8940". Use this function to print out the names and euids of the students you created in (2).

In [114]:
# Print out the information for each student
for i, student in enumerate(students):
    students[i].generate_euid()
    print(f"\nInformation for student {i+1}:")
    print(f"Name: {student.first_name} {student.middle_name} {student.last_name}")
    print(f"EUID: {student.euid}")
    print(f"GPA: {student.gpa}")
    print("Classes taken:")
    student.print_classes()

Information for student 1:
Name: jaya venkata sivanath venigalla
EUID: jsv6206
GPA: 0.0
Classes taken:

Information for student 2:
Name: mohana manjunath venigalla
EUID: mmv9998
GPA: 0.0
Classes taken:

Information for student 3:
Name: naga jayanth nath venigalla
EUID: njv1777
GPA: 0.0
Classes taken:

###(4)
Write a function for the Student class called "register". This function asks the user to enter a class number, a semester, and a grade for each student. Then this information is added to the Student object. Call this function for the students you created in part (2). Each student should be registered for at least two courses but can have more than.

In [115]:
j# Print out the information for each student
for i, student in enumerate(students):
    students[i].register()
    print(f"\nInformation for student {i+1}:")
    print(f"Name: {student.first_name} {student.middle_name} {student.last_name}")
    print(f"EUID: {student.euid}")
    print(f"GPA: {student.gpa}")
    print("Classes taken:")
    student.print_classes()

How many classes would you like to register for? 1
Enter the class number: 111
Enter the semester taken (e.g. Fall 2022): spring 2023
Enter the grade obtained (e.g. A, B+, C): A

Information for student 1:
Name: jaya venkata sivanath venigalla
EUID: jsv6206
GPA: 0.0
Classes taken:
111 taken in spring 2023 with a grade of A
How many classes would you like to register for? 1
Enter the class number: 112
Enter the semester taken (e.g. Fall 2022): spring 2023
Enter the grade obtained (e.g. A, B+, C): B+

Information for student 2:
Name: mohana manjunath venigalla
EUID: mmv9998
GPA: 0.0
Classes taken:
111 taken in spring 2023 with a grade of A
112 taken in spring 2023 with a grade of B+
How many classes would you like to register for? 2
Enter the class number: 111
Enter the semester taken (e.g. Fall 2022): spring 2023
Enter the grade obtained (e.g. A, B+, C): A
Enter the class number: 112
Enter the semester taken (e.g. Fall 2022): spring 2023
Enter the grade obtained (e.g. A, B+, C): C

Information for student 3:
Name: naga jayanth nath venigalla
EUID: njv1777
GPA: 0.0
Classes taken:
111 taken in spring 2023 with a grade of A
112 taken in spring 2023 with a grade of C

###(5) 
Write a function for the Student class that calculates a student's GPA and prints it out. Use it to print out the names and GPAs of the student's you created in (2).

In [116]:
# Print out the information for each student
for i, student in enumerate(students):
    print(f"\nInformation for student {i+1}:")
    print(f"Name: {student.first_name} {student.middle_name} {student.last_name}")
    print(f"EUID: {student.euid}")
    print(f"GPA: {student.gpa}")
    print("Classes taken:")
    student.print_classes()
    student.calculate_gpa()

Information for student 1:
Name: jaya venkata sivanath venigalla
EUID: jsv6206
GPA: 0.0
Classes taken:
111 taken in spring 2023 with a grade of A
112 taken in spring 2023 with a grade of C
Student jsv6206's GPA: 3.00

Information for student 2:
Name: mohana manjunath venigalla
EUID: mmv9998
GPA: 0.0
Classes taken:
111 taken in spring 2023 with a grade of A
112 taken in spring 2023 with a grade of C
Student mmv9998's GPA: 3.00

Information for student 3:
Name: naga jayanth nath venigalla
EUID: njv1777
GPA: 0.0
Classes taken:
111 taken in spring 2023 with a grade of A
112 taken in spring 2023 with a grade of C
Student njv1777's GPA: 3.00

#Question-4
####Create a quiz by using python 3 to implement a set of functions. Your are required to write your code inside the function defined blew:

###(1)
###def quiz_introduction():
### #in this function, display the quiz in the format showing in the following picture

In [117]:
def quiz_introduction():
    print('************************')
    print('***A Simple Math Quiz***')
    print('************************')

###(2)
###def quiz_questions():
### #in this function, display the questions that a user can choose to answer, the user can also choose exit. The display is showing in the following picture

In [118]:
def quiz_question():
    print('1. Addition')
    print('2. Subtraction')
    print('3. Multiplication')
    print('4. Integer Division')
    print('5. Exit')

###def section_separator():
##### # print “------------------------” to separate each section
print("-" * 24)

In [119]:
def section_separator():
    print('-'*24)

###(3)

In [120]:
def get_user_question_choice():
    choice = int(input("Enter your choice: "))
    return choice


def input_submission(choice):
    problem = get_user_input_solution(choice)
    print("Enter your answer: ",end="")
    print(problem, end="")
    result = int(input(" = "))
    return result
    

    

def get_user_input_solution(choice):
    if choice == 1:
        return "16+16"
    elif choice == 2:
        return "20-5"
    elif choice == 3:
        return "15*3"
    elif choice == 4:
        return "30/4"

In [121]:
def solution_checking(user_solution, solution, count):
    if(int(user_solution) == int(solution)):
        count=count+1
        return count
    return count

In [122]:
def quiz_questions(option):
    if option == 1:
        return "32"
    elif option == 2:
        return "15"
    elif option == 3:
        return "45"
    elif option == 4:
        return "7"

In [123]:
def show_result(total, correct):
    print("You answered",total,"question","with",correct,"correct")
    percent=(correct/total)*100
    print("Your score is",percent,"%. Thank you.")

###(4)

In [124]:
def main():
    quiz_introduction()
    quiz_question()
    section_separator()
    option = get_user_question_choice()
    total = 0
    correct = 0
    while option != 5:
        total = total + 1
        result = input_submission(option)
        correct = solution_checking(result,quiz_questions(option),correct)
        option = get_user_question_choice()
    print("Exit the quiz.")
    section_separator()
    show_result(total, correct)

main()

************************
***A Simple Math Quiz***
************************
1. Addition
2. Subtraction
3. Multiplication
4. Integer Division
5. Exit
------------------------
Enter your choice: 1
Enter your answer: 16+16 = 32
Enter your choice: 2
Enter your answer: 20-5 = 15
Enter your choice: 3
Enter your answer: 15*3 = 60
Enter your choice: 5
Exit the quiz.
------------------------
You answered 3 question with 2 correct
Your score is 66.66666666666666 %. Thank you.